<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.v1.mapper.CalendarMapper">

    <insert id="insert">
        INSERT INTO calendar
        (title, description, start_date, end_date, type, background_color, text_color, all_day, group_id, user_id)
        VALUES(#{title}, #{description}, #{start}::timestamp , #{end}::timestamp , #{type}, #{backgroundColor}, #{textColor}, #{allDay}, #{groupId}, #{userId});
    </insert>

</mapper>