<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.v1.mapper.CalendarMapper">

    <insert id="insert">
        INSERT INTO calendar
        (title, description, start_date, end_date, background_color, text_color, all_day, board_id, user_id)
        VALUES(#{title}, #{desc}, #{start}::timestamp , #{end}::timestamp, #{backgroundColor}, #{textColor}, #{allDay}, #{boardId}, #{userId});
    </insert>

    <select id="findByCalendars" resultType="com.v1.model.dto.ResponseCalendar">
        select c.id, title, start_date as start, end_date as end, c.background_color as backgroundColor, text_color as textColor, m.username
        from calendar c, member m
        where c.board_id = #{boardId}
          and m.board_id = c.board_id
            and (c.start_date between #{startDate} and #{endDate});
    </select>

    <delete id="delete">
        delete from calendar
        where id = #{id};
    </delete>

    <select id="findByCalendar" resultType="com.v1.model.dto.ResponseCalendar">
        select c.id, title, start_date as start, end_date as end, c.background_color as backgroundColor, description
        from calendar c
        where c.board_id = #{boardId}
        and c.id = #{id}
    </select>
</mapper>