<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.v1.mapper.CalendarMapper">

    <insert id="insert">
        INSERT INTO calendar
        (title, description, start_date, end_date, background_color, text_color, all_day, board_id, user_id)
        VALUES(#{title}, #{desc}, #{start}::timestamp , #{end}::timestamp, #{backgroundColor}, #{textColor}, #{allDay}, #{boardId}, #{userId});
    </insert>

    <select id="findByCalendar" resultType="com.v1.model.dto.CalendarDTO">
        select c.id, title, description, start_date, end_date, c.background_color, text_color, m.username
        from calendar c, member m
        where c.board_id = 1
          and m.board_id = c.board_id
            and (c.start_date between now() and date '2022-05-01');
    </select>
</mapper>