<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.v1.mapper.ProjectMapper">
    <select id="currentProject" resultType="com.v1.model.dto.ProjectDTO">
        select *
        from calendar
        order by start_date
        desc limit #{limit};
    </select>
</mapper>